*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: #BDBDBD;
}

.title{
    color: white;
    text-align: end;
    margin-right: 100px;
}

.nav{
    text-align: center;
}

a{
    margin: 0px 10px;
    text-decoration: none;
    color: #424242;
}

a:hover{
    text-decoration: none;
}

.main{
    margin-right: 100px;
    margin-left: 400px;
}

.container1{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 492px 492px;
    grid-template-rows: 400px 400px;
}

.item-1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #424242;
}

.item-2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item-3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.item-4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.mediumImg{
    width: 492px;
    height: 400px;
}

.item-5{
    z-index: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    width: 430px;
    margin: 120px 285px;
}

.nav2{
    background-color: black;
    height: 50px;
}

.colorwhite, .day, .dress{
    color: white;
    margin-top: 15px;
}

.day{
    float: left;
}

.dress{
    float: right;
}

.item-6{
    z-index: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    width: 430px;
    margin: 17px 255px;
}

h1{
    color: white;
    font-size: 100px;
}